.calculator {
    background-color: green;
    min-width: 300px;
    max-width: 80%;
    margin: auto;
    font-family: monospace;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "display display display display"
        "display display display display"
        "clear divide multiply subtract"
        "seven eight nine add"
        "four five six add"
        "one two three operate"
        "zero zero decimal operate";
}

.calculator .display {
    grid-area: display;
    text-align: center;
    font-weight: bold;
    border: solid rgb(1, 66, 1) 5px;
    background-color: lightgoldenrodyellow;
    color: green;
    padding: 5px;
    min-height: 1rem;
}

.calculator button {
    padding: 5px;
}