.calculator {
    background-color: green;
    width: 300px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
        "display display display display"
        "display display display display"
        "clear divide multiply subtract"
        "seven eight nine add"
        "four five six add"
        "one two three operate"
        "zero zero decimal operate";
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.calculator .display,
.calculator button {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color: green;
    font-size: 40px;
}

.calculator .display {
    grid-area: display;
    border: solid rgb(1, 66, 1) 5px;
    background-color: lightgoldenrodyellow;
    margin: 0px;
}

.calculator button {
    background-color: rgb(255, 255, 230);
}